.option_button {
  border: 1px solid gray;
  border-radius: 7px;
  outline: none;
  transition: background-color 500ms ease, color 700ms ease;
}

.option_button:hover {
  color: white;
  background-color: gray;
}

.option_button:not(:last-child) {
  margin-right: 10px;
}
